.profile__info-proffesion{
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (min-width: 320px) and (max-width: 1279px){
    .profile__info-proffesion{
        margin: 0 auto;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}