.profile__avatar-hovered{
    position: absolute;
    height: 26px;
    width: 26px;
    opacity: 0;
    top: 48px;
    left: 48px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
    background-image: url(../../../images/edit-avatar.svg);
}
.profile__avatar-hovered:hover{
    opacity: 1;
}