.elements{
    max-width: 880px;
    margin: 51px auto 67px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    width: 100vw;
}
@media screen and (min-width: 320px) and (max-width: 1279px){
    .elements{
        min-width: 282px;
        margin: 0 auto 48px auto;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
      }
}