.elements__item-description-like-button{
    margin: 30px 20px auto auto;
    background-color: #fff;
    background-image: url(../../../images/like.svg);
    cursor: pointer;
    border: none;
    width: 22px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
}
.elements__item-description-like-button:hover{
    opacity: 0.5;
}
.elements__item-description-like-button:active{
    background-image: url(../../../../images/like-active.svg);
    background-repeat: no-repeat;
    opacity: 1;
}

@media screen and (max-width: 1279px){
    .elements__item-description-like-button{
        margin-right: 18.24px;
      }
}