.popup__container-form{
    position: relative;
    max-width: 358px;
    display: block;
    flex-wrap: nowrap;
    margin: 0 auto 37px auto;
}
@media screen and (min-width: 1280px){
    .popup__container-form{
        min-width: 358px;
    }
}
@media screen and (max-width: 1279px){
    .popup__container-form{
        margin: 25px auto 25px auto;
        width: 238px;
    }
}