.profile__add-button{
    display: flex;
    justify-content: center;
    max-width: 150px;
    background-color: black;
    margin: auto 0 auto auto;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px;
}
.profile__add-button:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 1279px){
    .profile__add-button{
      min-width: 282px;
      margin: 36px auto;
    }
}