.elements__item-description-like{
    margin: 0;
}
.elements__item-description-like:hover{
    opacity: 0.5;
    cursor: pointer;
}
.elements__item-description-like:active{
    background-image: url(../../../../images/like-active.svg);
    background-repeat: no-repeat;
    opacity: 1;
}
